<h1>Billboard Top 100</h1>


<ul>
  <% @billboards.each do |billboard| %>
    <li>
      <%= link_to billboard.artist, billboard %>
    </li>
  <% end %>
</ul>
<%= link_to 'New Billboard', new_billboard_path %>
<br />
<%= link_to 'Billboards', billboard_path(:billboard_id) %>

<br />
<%= link_to 'Artists', billboard_artists_path(:artist_id) %>
<br />

<%= link_to 'Songs', artist_songs_path(:song_id) %>